{% extends "layout.jinja" %}
{% block content %}

<div class="cart-container">
    <h3>Your Shopping Cart</h3>
    <div class="cart-labels">

    </div>
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        {% for i in items %}
            <tr class="cart-wrapper">
                <td class="text-image" style="border: none;">
                    <div><img src="data:;base64,{{i['item'].img_small}}" alt="{{i['item'].name}}" width="60px" style="border-radius: 8px;">{{i["item"].name}}</div>
                    <form method="POST" action="{{url_for('cart', item_id=i['item'].id, count=0)}}" enctype="multipart/form-data" class="form-container">
                        <div class="form-group">
                            {{ rem_cart_form.hidden_tag() }}
                            {{ rem_cart_form.submit(class_="remove") }}
                        </div>
                    </form>
                </td>
                <td>£{{i["item"].price}}</td>
                <td class="quantity-section">
                    {{i["quantity"]}}
                    <form method="POST" action="{{url_for('cart', item_id=i['item'].id, count=i['quantity'] + 1)}}" enctype="multipart/form-data" class="form-container">
                        <div class="form-group">
                            {{ inc_cart_form.hidden_tag() }}
                            {{ inc_cart_form.submit(class_="remove") }}
                        </div>
                    </form>
                    <form method="POST" action="{{url_for('cart', item_id=i['item'].id, count=i['quantity'] - 1)}}" enctype="multipart/form-data" class="form-container">
                        <div class="form-group">
                            {{ dec_cart_form.hidden_tag() }}
                            {{ dec_cart_form.submit(class_="remove") }}
                        </div>
                    </form>
                </td>
                <td>£{{i["item"].price * i["quantity"]}}</td>
            </tr>
        {% endfor %}
      </table>
    <div class="cart-total">
        <h4>Subtotal: £{{subtotal}}</h4>
    </div>
</div>

{% endblock content %}