{% extends "layout.jinja" %}
{% block content %}
    <section class="hero">
        <div>
            <img src="images/hero3.jpg">
            <p>BUY & SELL<br>AUTHENTIC<br>SNEAKERS</p>
        </div>
    </section>
    <section class="featured-products">
        <div class="title">Top Sellers</div>
        <div class="products">
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">Product info</div>
            </div>
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">Product info</div>
            </div>
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">Product info</div>
            </div>
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">Product info</div>
            </div>

        </div>
    </section>
    <section class="featured-products">
        <div class="title">New Releases</div>
        <div class="products">
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">Product info</div>
            </div>
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">Product info</div>
            </div>
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">Product info</div>
            </div>
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">Product info</div>
            </div>
        </div>
    </section>
    <section class="browse">
        <a href="{{ url_for('items') }}">browse sneakers</a>
    </section>
{% endblock content %}