{% extends "layout.jinja" %}
{% block content %}
    <div class="products">
        {% for i in items %}
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/shoe.jpg') }}">
                <div class="info-container">{{ i.brand }}</div>
                <div class="info-container">{{ i.name }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}