{% extends "layout.jinja" %}
{% block content %}
    <div class="products">
        {% for i in items %}
            <a class="item-link" href="{{ url_for('item', item_id=i.id) }}">
                <div class="product-card">
                    <img src="data:;base64,{{i.img_small}}" alt="{{i.name}}">
                    <div class="info-container">{{ i.brand }} {{ i.name }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}