{% from "macros/form_helper.jinja" import render_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <title>{% if title %} StockX - {{title}} {% else %} StockX {% endif %}</title>
</head>
<body>
    <nav>
        <div id="nav-container">
            <div class="logo">
                <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="250px"></a>
            </div>
            <div class="navbar-main">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('inventory') }}">Inventory</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('contact') }}">Contact</a>
                <a href="{{ url_for('cart') }}">Cart</a>
                {{ render_form(search_form) }}
            </div>
        </div>
    </nav>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <div class="logo"><a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="250px"></a></div>
        <div class="navbar-footer">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('inventory') }}">Inventory</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('cart') }}">Cart</a>
        </div>
        <div class="social">
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-facebook-square"></i>
        </div>
        <p class="copy">Copyright &copy; 2021</p>
    </footer>
    <script src="https://kit.fontawesome.com/8cb148e688.js" crossorigin="anonymous"></script>
</body>
</html>